div.container {
  display: flex;
  justify-content: space-between;
}


div.container > div.right > span {
  vertical-align: center;

  > a {
    clear: right;
    display: inline-block;
    color: $text-color;
    margin-left: 4px;

    > svg {
      height: 24px;
      width: 24px;
      vertical-align: bottom;
    }

    @include media-query($on-palm) {
      > span {
        display: none;
      }
    }
  }

}
