<footer class="site-footer">
    <div class="wrapper">
        <div class="container" style="text-align: right">
            <div class="left">
                <strong>&copy; {{ site.time | date: '%Y' }} {{ site.author }}</strong>
            </div>

            <div class="right">
                {% for icon in site.social-icons %}
                    <span>
                        <a href="{{ icon.url }}">
                            {% include {{ icon.class | prepend: "icon-" | append: ".svg" }} %}
                        </a>
                    </span>
                {% endfor %}
            </div>

            <div style="clear: both;"></div>
        </div>
    </div>
</footer>
