<header class="site-header">

    <div class="wrapper">

        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <nav class="site-nav">
            <div class="trigger">
                <a class="page-link" href="/vi" title="Vietnamese posts">VI</a>
                <a class="page-link" href="/en" title="English posts">EN</a>
                <a class="page-link" href="/archive" title="All posts, by time">Archive</a>
                <a class="page-link" href="/about" title="More information about me and this site">About</a>
            </div>
        </nav>

    </div>

</header>
