<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="/en" title="English posts">EN</a>
        <a class="page-link" href="/vi" title="Vietnamese posts">VI</a>
        <a class="page-link" href="/archive" title="All posts, by time">Archive</a>
        <a class="page-link" href="/about" title="More information about me and this site">About</a>

        <a class="page-link" id="keyboard-icon" href="javascript:void(0)"
          title="Show shortcut keys. Try pressing '?' (requires Javascript)">
          &#9000;
        </a>

      </div>
      <span class="menu-icon"/>
    </nav>
  </div>
</header>
