<div class="home">
    {% comment %}TODO: add featured posts someday{% endcomment %}
    <h1 class="page-heading"> {{include.pageTitle}} </h1>

    {% comment %}
    Only show a few latest port for faster loading time
    {% endcomment %}

    <ul class="post-list">
        {% for post in include.postList limit: site.num-recent-post %}
            <li>
                <h2>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                {{ post.excerpt }}
            </li>
        {% endfor %}
    </ul>

    <h2>
        <a href="/archive">View archived posts...</a>
    </h2>

</div>
