body.dark {
  color: $text-color;
  background-color: $background-color;

  button, a {
    color: lighten($brand-color, 15%);

    &:focus, &:active, &:hover {
      color: $text-color;
      background: darken($brand-color, 5%);
      box-shadow-color: $grey-color;
    }
  }

  a:visited {
    color: lighten($brand-color, 15%);
  }


  /**
   * Blockquotes
   */
  blockquote {
    color: $grey-color;
    border-left-color: $grey-color-light;
  }

  /**
   * Code formatting
   */
  pre,
  code {
    border: 0;
  }

  svg path {
    fill: $text-color;
  }

  table {
    color: $text-color;
    background-color: $background-color;
  }

  tr:nth-child(even) {
    background-color: lighten($background-color, 15%);
  }
}
