div.container {
    display: flex;
    justify-content: space-between;
}

div.container > div.right > span {
    vertical-align: center;
}

div.container > div.right > span > a {
    clear: right;
    display: inline-block;
    margin-left: 10px;
}

div.container > div.right > span > a > svg {
    height: 24px;
    width: 24px;
    vertical-align: bottom;
}
