.tags ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tags ul li {
    display: inline-block;
    margin: 0 0 .3em 1em;
    padding: 0;
}

.tags ul li a {
    position: relative;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 1em;
    background-color: $brand-color;
    border-radius: 0 3px 3px 0;
    color: white;
    font-size: $base-font-size;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
}

.tags ul li a::before {
    position: absolute;
    top: 0;
    left: -15px;
    content: '';
    width: 0;
    height: 0;
    border-color: transparent $brand-color transparent transparent;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    -webkit-transition: .2s;
    transition: .2s;
}

.tags ul li a span {
    display: inline;
}

.tags ul li a::after {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    margin-top: -3px;
    background-color: white;
    border-radius: 100%;
}

.tags ul li span {
    display: block;
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tags ul li a:hover {
    background-color: $grey-color-dark;
    color: white;
}

.tags ul li a:hover::before {
    border-right-color: $grey-color-dark;
}
