---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        <div class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                Post in {{ page.date | date: "%Y %d %b" }}.
            </time>

            Last modified at {{ page.modified_at }}

            {% if page.author %}
                <span itemprop="author" itemscope
                      itemtype="http://schema.org/Person">
                    <span itemprop="name">
                        by {{ page.author }}
                    </span>
                </span>
            {% endif %}

            <div class="tags">
                <ul>
                    {% for tag in page.tags %}
                        <li>
                            <a href='/tag/#{{tag}}'>{{tag}} </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </header>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>


    <div class="post-navigation">
        {% if page.previous.url %}
            <a class="prev" href="{{page.previous.url}}">&larr; {{page.previous.title | truncatewords: site.num-words-post-title-truncate }}</a>
        {% endif %}
        {% if page.next.url %}
            <a class="next" href="{{page.next.url}}">{{ page.next.title | truncatewords:site.num-words-post-title-truncate }} 	&rarr;</a>
        {% endif %}
        <div style="clear:both;"> </div>
    </div>

</article>
