---
layout: page
title: Blog posts by tag
permalink: /tag/
---


<div class="tags">
    <ul>
        {% for tag in site.tags %}
            {% assign tagname = tag | first %}
            {% assign posts = tag | last %}
            {% assign counter = posts | size %}
            <li>
                <a href="/tag/#{{ tagname | downcase | replace:" ","-" }}">
                    {{ tagname | downcase }}
                    <span> ({{counter}})</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

<p>

</p> </p> <hr> <p> </p>

{% for tag in site.tags %}
    {% assign t = tag | first %}
    {% assign posts = tag | last %}
    <h4 class="tag">
        <a name="{{t | downcase | replace:" ","-" }}"></a>
        <a href="/tag/#{{t | downcase | replace:" ","-" }}">
          &#x1F516; {{ t | downcase }}
        </a>
    </h4>
    <ul>
        {% for post in posts %}
            {% if post.tags contains t %}
                <li class="post-item">
                    <a style="float:left;"href="{{ post.url }}">{{ post.title }}</a>
                    <span class="post-meta" style="float:right;">{{ post.date | date: "%b %-d, %Y"  }}</span>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

{% endfor %}
